---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<openweather_api>&lat=38.892&lon=-77.019&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.892,"lon":-77.019,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664220057,"sunrise":1664189959,"sunset":1664233166,"temp":76.01,"feels_like":75.33,"pressure":1005,"humidity":43,"dew_point":51.93,"uvi":2.1,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":220,"wind_gust":17.27,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1664220060,"precipitation":0},{"dt":1664220120,"precipitation":0},{"dt":1664220180,"precipitation":0},{"dt":1664220240,"precipitation":0},{"dt":1664220300,"precipitation":0},{"dt":1664220360,"precipitation":0},{"dt":1664220420,"precipitation":0},{"dt":1664220480,"precipitation":0},{"dt":1664220540,"precipitation":0},{"dt":1664220600,"precipitation":0},{"dt":1664220660,"precipitation":0},{"dt":1664220720,"precipitation":0},{"dt":1664220780,"precipitation":0},{"dt":1664220840,"precipitation":0},{"dt":1664220900,"precipitati[...]
